
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=FilterApp
Exec=python /home/ankit/Desktop/some/Filter_app/run.py
Icon= /home/ankit/Desktop/some/Filter_app/Pictures/filter.png
Name[en]=FilterApp
